body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url(../img/fondoLogin.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  margin-top: 20%;
  width: 40rem;
}